<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <div class="row wow fadeIn">
            <div class="col-md-6 mb-4">
                <img id="valueFoto" class="rounded img-fluid" alt="Foto">
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <p id="valueNombre" class="lead font-weight-bold"></p>
                    <div class="mb-3">
                        <a href="#">
                            <span id="valueCategoria" class="badge blue mr-1"></span>
                        </a>
                    </div>
                    <p class="lead">
                        <span id="valuePrecio"></span>
                    </p>
                    <hr>
                    <p class="lead font-weight-bold">Descripción</p>
                    <p id="valueDescripcion"></p>
                </div>
            </div>
        </div>
    </div>
</main>