<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <div class="row wow fadeIn">
            <div class="col-md-6 mb-4">
                <img id="valueFoto" class="rounded img-fluid" alt="Foto">
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <p id="valueNombre" class="lead font-weight-bold name-tag"></p>
                    <div class="mb-3">
                        <a class="category-tag" href="#">
                            <span id="valueCategoria" class="badge blue mr-1"></span>
                        </a>
                    </div>
                    <p class="lead">
                        <span class="price-tag" id="valuePrecio"></span>
                    </p>
                    <hr>
                    <p class="lead">
                        <span class="acount-tag" id="valueCantidad"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<input class="input-hidden" oninput="scan_product.searchProduct();" id="inputCodigoSearch" type="text">