<div style="margin: 1rem;padding:1rem;">
    <label for="">Id</label> <input id="valueId" readonly type="text"> <br>
    <label for="">Codigo</label> <input id="valueCodigo" readonly type="text"><br>
    <label for="">Nombre</label> <input id="valueNombre" readonly type="text"><br>
    <label for="">Precio</label> <input id="valuePrecio" readonly type="text"><br>
    <label for="">Categoria</label> <input id="valueCategoria" readonly type="text"><br>
    <label for="">Descripción</label> <textarea id="valueDescripcion" cols="30" rows="3"></textarea><br>
    <label for="">Foto</label> <img width="200px" id="valueFoto" src="" alt=""> <br>
    <button onclick="goProductScan();">Volver</button>
</div>