<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">
    <h2 class="h2-responsive center"><strong>Escanea el producto</strong></h2>
    <div class="body-scan">
      <div class='anim-box center'>
        <div></div>
        <div class='scanner'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-md'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-md'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-md'></div>
        <div class='anim-item anim-item-md'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
        <div class='anim-item anim-item-sm'></div>
        <div class='anim-item anim-item-lg'></div>
      </div>
    </div>
    <div class="padding-5">
      <div class="md-form input-group mb-3">
        <input oninput="scan_product.searchProduct();" id="inputCodigoSearch" type="text" class="form-control"
          placeholder="Codigo" aria-label="Codigo">
        <div class="input-group-append">
          <button onclick="scan_product.scanProduct();" class="btn btn-md btn-blue m-0 px-3" type="button"> <i
              class="fas fa-search pr-2" aria-hidden="true"></i>
            Buscar</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>